@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;

li {
	list-style-type: none;
}

ul {
	padding-left: 0;
}

html, body {
    height: 100%;
}

.container {
	width: 960px;
	margin: auto;
	@media (max-width: @screen-sm-max) {
    	width: 100%;
    	padding: 15px 0;
    	box-sizing: border-box;;
    }
}

.content {
	min-height: calc(100vh - 235px);
}

.flex {
	display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
	flex: 1 0 auto;
}

.logo-wrap {
	display: inline-block;
	margin-left: 22px;
	@media (max-width: @screen-xs-max) {
    	margin-left: 0px;
    }
}

.clearfix:after, .clearfix:before {
	content: '';
	display: table; 
}

.clearfix:after {
	clear: both; 
}

.header {
	padding: 29px;
	@media (max-width: @screen-xs-max) {
    	text-align: center;
    }
}

.main-menu {
	float: right;
	&__list {
		margin: 0;
		font-size: 0;
	}
	&__item {
		display: inline-block;
		margin-right: 28px;
		&:last-child {
		 	margin-right: 20px;
		}
		@media (max-width: @screen-xs-max) {
	    	display: block;
		    margin-right: 0;
		    margin-top: 15px;
		    &:last-child {
			 	margin-right: 0px;
			}
	    }
	}
	&__link {
		display: inline-block;
	    font-family: 'OpenSans-Light';
	    text-decoration: none;
	    font-size: 18px;
	    color: #060706;
	    padding: 5px 32px 9px;
	    border: 3px solid rgba(0,0,0,0);
	    transition: all .3s;
	    &:hover,&:active,&:focus {
	    	border: 3px solid black;
	    }
	    &-active {
	    	border: 3px solid black;
	    }
	}
	@media (max-width: @screen-xs-max) {
    	float: none;
    }
}

.b-title {
	position: relative;
	&__img {
		@media (max-width: @screen-xs-max) {
	    	max-width: 90%;
	    }
	}
	&__wrap {
		position: relative;
		margin: 15px 65px;
		display: inline-block;
		&:after {
			content: attr(data-value);
			font-family: 'OpenSans-Light';
			font-size: 19px;
			color: #050101;
			position: absolute;
			bottom: -22px;
    		right: -12px;
    		@media (max-width: @screen-sm-max) {
		    	right: 50%;
    			transform: translate(50%);
		    }
		}
		@media (max-width: @screen-sm-max) {
	    	margin: 20px 0;
    		display: block;
    		text-align: center;
	    }
	}
	&__title {
		font-family: 'OpenSans-Light';
	    color: #000000;
	    font-size: 36px;
	    text-align: center;
	    width: 85%;
	    font-weight: lighter;
	    margin: 8px 0px;
	    @media (max-width: @screen-sm-max) {
	    	width: 100%;
	    }
	}
	&__txt {
		font-family: 'OpenSans-Light';
	    color: #000000;
	    font-size: 22px;
	    text-align: center;
	    margin: 42px 64px 39px 20px;
	    line-height: 26px;
	    @media (max-width: @screen-sm-max) {
	    	margin: 42px 10px;
	    }
	}
}

.foot {
	position: absolute;
    left: 57%;
    top: 66px;
    &__img {
		position: absolute;
		left: 9px;
    	top: 29px;
    	opacity: 0;
    	transition-delay: 0.5s;
		&-2 {
			left: 98px;
		    top: 0px;
		    transform: rotate(-12deg);
		    transition-delay: 1s;
		}
		&-3 {
			left: 199px;
		    top: 35px;
		    transform: rotate(14deg);
		    transition-delay: 1.5s;
		}
		&-4 {
			left: 297px;
		    top: 87px;
		    transform: rotate(52deg);
		    transition-delay: 2s;
		}
		&-5 {
			left: 320px;
		    top: 175px;
		    transform: rotate(75deg);
		    transition-delay: 2.5s;
		}
		&-6 {
			left: 324px;
		    top: 260px;
		    transform: rotate(110deg);
		    width: 50px;
		    transition-delay: 3s;
		}
    }
    @media (max-width: @screen-md-max) {
    	left: 60%;
    }
    @media (max-width: @screen-sm-max) {
    	display: none;
    }
}

.move {
	.foot__img {
		opacity: 1;
	}
}

.bg-bild {
	background-image: url("../img/bg.JPG");
	background-size: cover;
	padding-bottom: 53px;
	position: relative;
	&:after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-bottom: 57px solid white;
    	border-right: 50vw solid transparent;
		bottom: 0;
		left: 0;
	}
	&:before {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-bottom: 57px solid white;
    	border-left: 50vw solid transparent;
		bottom: 0;
		right: 0;
	}
	&__footer {
		background-image: url("../img/bg-footer.JPG");
		background-size: cover;
		padding: 20px 0;
		position: relative;
		&:after,&:before {
			top: 0;
			border-bottom: 0;
			border-top: 57px solid white;
		}
	}
}

.note-faet {
	background: #f5f9f7;
	margin-bottom: 23px;
    padding-bottom: 30px;
	&__cev {
		margin: 0px;
		padding: 0;
		.note-faet__teble {
			height: 260px;
		    display: table;
		    width: 100%;
		    @media (max-width: @screen-sm-max) {
		    	height: auto;
		    	display: block;
		    }
		}
		.note-faet__cont {
			width: 50%;
			&:first-child {
				width: 50%;
			}
			@media (max-width: @screen-sm-max) {
		    	width: 100%;
		    	margin: 50px 0;
		    	&:first-child {
					width: 100%;
				}
		    }
		}
	}
	&__cont {
		&:first-child {
			width: 54%;
		}
		width: 43%;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		@media (max-width: @screen-sm-max) {
	    	display: block;
	    	width: 100%;
	    	&:first-child {
				width: 100%;
			}
	    }
	}
	&__title {
		font-family: 'OpenSans-Light';
	    color: #000000;
	    font-size: 34px;
	    margin: 38px 19px 35px 0;
	    letter-spacing: 0.01em;
	}
	&__item {
		font-family: 'OpenSans-Light';
		color: #000000;
	    font-size: 23px;
	    line-height: 27px;
	    letter-spacing: -0.01em;
	}
	&__img {
		margin-top: 32px;
    	margin-left: -49px;
    	&-logo {
    		margin-left: -35px;
    		margin-top: -5px;
    		@media (max-width: @screen-sm-max) {
		    	margin: 0;		    
		    }
		    @media (max-width: @screen-xs-max) {
		    	max-width: 90%;
		    }
    	}
    	@media (max-width: @screen-sm-max) {
	    	margin: 0;	
	    	padding-top: 40px;
	    }
	    @media (max-width: @screen-xs-max) {
	    	max-width: 90%;
	    }
	}
	&__table {
		display: table;
	}
	&__list {
		margin-left: -18px;
		@media (max-width: @screen-xs-max) {
	    	margin: 0 10px;
	    }
	}
	&__but {
		font-family: 'OpenSans-Light';
	    color: #000000;
	    font-size: 30px;
	    background: #347a51;
	    display: inline-block;
	    padding: 5px 27px 13px;
	    text-decoration: none;
	    margin-left: 18px;
	    margin-top: 3px;
	    transition: .3s;
	    &:hover,&:active,&:focus {
	    	background: #1c5032;
	    }
	}
}

.footer {
	text-align: center;
	flex: 0 0 auto;
}

.list-foot {
	display: inline-block;
	margin: 0;
    padding: 76px 0 20px;
    vertical-align: middle;
    padding-right: 17px;
	&__link {
		font-family: 'OpenSans-Light';
		color: #000000;
		font-size: 20px;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,0);
		transition: all .3s;
		&:hover,&:active,&:focus {
	    	border-color: #000;
	    }
	}
	&__item {
		display: inline-block;
		padding-right: 59px;
		@media (max-width: @screen-sm-max) {
	    	&:last-child {
	    		padding-right: 0;
	    	}
	    }
	}
	@media (max-width: @screen-sm-max) {
    	display: block;
    }
}

.list-logo {
	display: inline-block;
	margin: 0;
    padding: 78px 0 20px;
    margin-right: 43px;
    vertical-align: middle;
    font-size: 0;
	&__link {
		border: 2px solid #151c10;
		display: inline-block;
		width: 46px;
		height: 46px;
		border-radius: 50%;
		box-sizing: border-box;
		position: relative;
		transition: all .3s;
		&:before {
			content: "";
		    position: absolute;
		    width: 27px;
		    height: 32px;
		    background: url(../img/sprite.PNG);
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
		    transition: all .3s;
		}
		&:hover,&:active,&:focus {
	    	border-color: #fff;
	    	&:before {
				background-position: 0 34px;
	    	}
	    }
		&-2 {
			&:before {
				background-position: 56px 0;
			}
			&:hover,&:active,&:focus {
		    	&:before {
					background-position: 56px 34px;
		    	}
		    }
		}
		&-3 {
			&:before {
				background-position: 27px 2px;
			}
			&:hover,&:active,&:focus {
		    	&:before {
					background-position: 27px 35px;
		    	}
		    }
		}
	}
	&__item {
		display: inline-block;
		padding-right: 87px;
		&:last-child {
			padding-right: 0;
		}
		@media (max-width: @screen-xs-max) {
	    	padding-right: 30px;
	    }
	}
	@media (max-width: @screen-sm-max) {
    	display: block;
    	padding-top: 20px;
    	margin-right: 0;
    }
}

.copi {
	font-family: 'OpenSans-Light';
	color: #000000;
	font-size: 18px;
	margin: 27px 0 0;
}