@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/OpenSans-Light/OpenSans-Light.eot');
  src: url('fonts/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light/OpenSans-Light.woff2') format('woff2'), url('fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'), url('fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype');
}