@@include('../chunks/head.html')

<body>
<div class="flex">
<div class="content">
@@include('../chunks/header.html')
@@include('../chunks/body.html')
</div>
@@include('../chunks/footer.html')
</div>
<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts.html')
</body>
</html>
