<div class="note-faet">
	<div class="container clearfix">
		<div class="note-faet__teble">
			<div class="note-faet__cont">
				<p class="note-faet__title">Features:</p>
				<ul class="note-faet__list">
					<li class="note-faet__item">Screen blocking during break exercises. </li>
					<li class="note-faet__item">Short break with eye exercises. </li>
					<li class="note-faet__item">Visual explanation of every exercise.</li>
					<li class="note-faet__item">Notifications announcing a long break coming. </li>
					<li class="note-faet__item">Strict mode that doesn't allow skipping the breaks. </li>
					<li class="note-faet__item">Customizable preferences.</li>
					<li class="note-faet__item">and more...</li>
				</ul>
			</div>
			<div class="note-faet__cont">
				<img src="img/mac.PNG" alt="" class="note-faet__img">
			</div>
		</div>
	</div>
</div>

<div class="note-faet note-faet__cev">
	<div class="container clearfix">
		<div class="note-faet__teble">
			<div class="note-faet__cont">
				<img src="img/img-baner.PNG" alt="" class="note-faet__img-logo">
			</div>
			<div class="note-faet__cont">
				<a href="javascript:void(0)" class="note-faet__but">Buy Now</a>
			</div>
		</div>
	</div>
</div>