<footer class="footer bg-bild bg-bild__footer">
	<div class="container clearfix">
		<ul class="list-foot">
			<li class="list-foot__item">
				<a href="" class="list-foot__link">About us</a>
			</li>
			<li class="list-foot__item">
				<a href="" class="list-foot__link">Contact Us</a>
			</li>
		</ul>
		<ul class="list-logo">
			<li class="list-logo__item">
				<a href="" class="list-logo__link list-logo__link-1"></a>
			</li>
			<li class="list-logo__item">
				<a href="" class="list-logo__link list-logo__link-2"></a>
			</li>
			<li class="list-logo__item">
				<a href="" class="list-logo__link list-logo__link-3"></a>
			</li>
		</ul>
		<p class="copi">©Copyright 2016</p>
	</div>
</footer>
