<div class="bg-bild">
	<header class="header">
		<div class="container clearfix">
			<a href="javascript:void(0)" class="logo-wrap">
				<img src="img/logo.png" alt="" class="logo-wrap__img">
			</a>
			<nav class="main-menu">
				<ul class="main-menu__list">
					<li class="main-menu__item"><a href="javascript:void(0)" class="main-menu__link">Features</a></li>
					<li class="main-menu__item"><a href="javascript:void(0)" class="main-menu__link">Community</a></li>
					<li class="main-menu__item"><a href="javascript:void(0)" class="main-menu__link main-menu__link-active">Buy Now</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="b-title">
		<div class="container clearfix">
			<div class="b-title__wrap" data-value="For Mac"><img src="img/img_after_header.png" alt="" class="b-title__img"></div>
			<h1 class="b-title__title">An app that keeps your eyes healthy.</h1>
			<p class="b-title__txt">EyeLeo for Mac is an app that regulary reminds you to take a rest for your eyes, shows you simple eye exercises and prevents you from using Mac during these exercises. When you're working at a computer it's easy to forget about time. This leads to eye strain and other physical problems. EyeLeo guarantees you won't forget to take a break.</p>
		</div>
		<div class="foot">
			<img src="img/foot_move.png" alt="" class="foot__img foot__img-1">
			<img src="img/foot_move.png" alt="" class="foot__img foot__img-2">
			<img src="img/foot_move.png" alt="" class="foot__img foot__img-3">
			<img src="img/foot_move.png" alt="" class="foot__img foot__img-4">
			<img src="img/foot_move.png" alt="" class="foot__img foot__img-5">
			<img src="img/foot_move.png" alt="" class="foot__img foot__img-6">
		</div>
	</div>
</div>